<!DOCTYPE html>
  
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Quizzer</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  </head>
  <body>
    {% include 'flash.html' %}
    <div class="container">
       <div class="navbar">
         <div class="navbar-inner">
           <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </a>
           <a class="brand" href="/">Quizzer</a>
             <ul class="nav">
               <li><a href="{{ url_for('index') }}">Home</a></li>
               {% if g.user.is_authenticated %}
                   <li><a href="{{ url_for('topics') }}">Topics </a></li>
                   <li><a href="{{ url_for('logout') }}">Logout</a></li>
               {% else %}
                   <li><a href="{{ url_for('login') }}">Login</a></li>
               {% endif %}
             </ul>
         </div>
       </div>
       <div class="row">
         <div class="span12">
           {% block content %}{% endblock %}
         </div>
       </div>
     </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>