{% extends "base.html" %}

{% block content %}
<script language="javascript">
    function add_node() {
        //alert("Hello " + node_id);
        var siblings = document.getElementsByClassName("my-answer").length;
        var index_str = (siblings-1).toString()
        var elmnt = document.getElementById("answergroup-"+index_str)
        var cln = elmnt.cloneNode(true);        
        cln.setAttribute("id", "answergroup-" + siblings.toString());
        cln.querySelector("#answers-"+index_str+"-answer").value = ""
        cln.querySelector("#answers-"+index_str+"-is_correct").checked  = false
        cln.querySelector("#answers-"+index_str+"-answer").setAttribute("name", "answers-"+siblings.toString()+"-answer")
        cln.querySelector("#answers-"+index_str+"-answer").setAttribute("id", "answers-"+siblings.toString()+"-answer")
        
        cln.querySelector("#answers-"+index_str+"-is_correct").setAttribute("name", "answers-"+siblings.toString()+"-is_correct")
        cln.querySelector("#answers-"+index_str+"-is_correct").setAttribute("id", "answers-"+siblings.toString()+"-is_correct")

        cln.querySelector("#answers-"+index_str+"-csrf_token").setAttribute("name", "answers-"+siblings.toString()+"-csrf_token")
        cln.querySelector("#answers-"+index_str+"-csrf_token").setAttribute("id", "answers-"+siblings.toString()+"-csrf_token")
        
        /*
        cln.querySelector("#validities-"+index_str).value  = "y"

        */
        elmnt.parentNode.insertBefore(cln, elmnt.nextSibling);
        //document.body.appendChild(cln);
    }
    function delete_node(node) {
        var siblings = document.getElementsByClassName("my-answer");
        // Re-calculating ids
        if (siblings.length<=2) {
            alert ("You must have at least two options.")
            return
        }

        node.remove();
        
        for (index = 0; index < siblings.length; ++index) {
            siblings[index].setAttribute("id","answergroup-" + index.toString());
            siblings[index].querySelector("[id*=-answer]").setAttribute("id","answers-"+index.toString()+"-answer");
            siblings[index].querySelector("[id*=-answer]").setAttribute("name","answers-"+index.toString()+"-answer");
            siblings[index].querySelector("[id*=is_correct]").setAttribute("id","answers-"+index.toString()+"-is_correct");
            siblings[index].querySelector("[id*=is_correct]").setAttribute("name","answers-"+index.toString()+"-is_correct");
            siblings[index].querySelector("[id*=csrf_token]").setAttribute("id","answers-"+index.toString()+"-csrf_token");
            siblings[index].querySelector("[id*=csrf_token]").setAttribute("name","answers-"+index.toString()+"-csrf_token");
        }
        //document.getElementById("answergroup-"+node_id.toString()).remove()
    }
</script>
            <form class="form" action="" method="post" name="post">
                {{form.hidden_tag()}}
                <div class="form-group {% if form.errors.post %}error{% endif %}">
                    <div class="form-group">
                        <label for="question">Your question:</label>
                        {{ form.question(size = 30, maxlength = 255) }}
                    </div>

                    {% for answer in form.answers %}
                        <div class="form-group my-answer" id="answergroup-{{loop.index-1}}">
                                {{answer.hidden_tag()}}
                                <label for="answers">Option:</label>
                                        {{answer.answer}}
                                <label for="is_correct">True?</label>
                                        {{answer.is_correct}}
                                <a class="btn btn-default btn-sm my-delnode" href="#" onclick="delete_node(this.parentNode);" role="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>                        
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <a class="btn btn-default btn-sm my-addnode" href="#" onclick="add_node()" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>                        
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
                {% for error in form.answers.errors %}
                    <span class="help-inline">{{error}}</span>
                {% endfor %}
            </form>

{% endblock %}