{% extends "base.html" %}

{% block content %}

            <form class="form" action="" method="post" name="post">
                {{form.hidden_tag()}}
                <div class="form-group {% if form.errors.post %}error{% endif %}">
                    <div class="form-group">
                        <label for="question">Your question:</label>
                        {{ form.question(size = 30, maxlength = 255) }}
                    </div>

                    <div class="form-group" id="answergroup-0">
                        {% for answer, is_valid in answerzip %}
                            <label for="answers">Answer #:</label>
                                    {{answer}}
                            <label for="validities">True?:</label>
                                    {{is_valid}}
                            <a class="btn btn-default btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>                        
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
                {% for error in form.errors %}
                    <span class="help-inline">{{error}}</span>
                {% endfor %}
            </form>

{% endblock %}