{% extends "base.html" %}

{% block content %}
<script language="javascript">
    function add_node() {
        //alert("Hello " + node_id);
        var siblings = document.getElementsByClassName("my-answer").length;
        var index_str = (siblings-1).toString()
        var elmnt = document.getElementById("answergroup-"+index_str)
        var cln = elmnt.cloneNode(true);        
        cln.querySelector(".my-delnode").style.display = "inline-block"
        cln.setAttribute("id", "answergroup-" + siblings.toString());
        cln.querySelector("#answers-"+index_str).value = ""
        cln.querySelector("#validities-"+index_str).value  = ""
        cln.querySelector("#validities-"+index_str).checked  = false
        cln.querySelector("#answers-"+index_str).setAttribute("name", "answers-"+siblings.toString())
        cln.querySelector("#validities-"+index_str).setAttribute("name", "validities-"+siblings.toString())
        cln.querySelector("#answers-"+index_str).setAttribute("id", "answers-"+siblings.toString())
        cln.querySelector("#validities-"+index_str).setAttribute("id", "validities-"+siblings.toString())
        elmnt.parentNode.insertBefore(cln, elmnt.nextSibling);
        //document.body.appendChild(cln);
    }
    function delete_node(node) {
        node.remove();
        
        // Re-calculating ids
        var siblings = document.getElementsByClassName("my-answer");
        for (index = 0; index < siblings.length; ++index) {
            siblings[index].setAttribute("id","answergroup-" + index.toString());
            siblings[index].querySelector("[id^=answers]").setAttribute("id","answers-" + index.toString());
            siblings[index].querySelector("[id^=answers]").setAttribute("name","answers-" + index.toString());
            siblings[index].querySelector("[id^=validities]").setAttribute("id","validities-" + index.toString());
            siblings[index].querySelector("[id^=validities]").setAttribute("name","validities-" + index.toString());
        }
        //document.getElementById("answergroup-"+node_id.toString()).remove()
    }
</script>
            <form class="form" action="" method="post" name="post">
                {{form.hidden_tag()}}
                <div class="form-group {% if form.errors.post %}error{% endif %}">
                    <div class="form-group">
                        <label for="question">Your question:</label>
                        {{ form.question(size = 30, maxlength = 255) }}
                    </div>

                    {% for answer, is_valid in answerzip %}
                        <div class="form-group my-answer" id="answergroup-{{loop.index-1}}">
                                <label for="answers">Answer #:</label>
                                        {{answer}}
                                <label for="validities">True?:</label>
                                        {{is_valid}}
                                <a style="display:none;" class="btn btn-default btn-sm my-delnode" href="#" onclick="delete_node(this.parentNode);" role="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>                        
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <a class="btn btn-default btn-sm my-addnode" href="#" onclick="add_node()" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>                        
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
                {% for error in form.errors %}
                    <span class="help-inline">{{error}}</span>
                {% endfor %}
            </form>

{% endblock %}